ul {
  display: flex;
  gap: 1em;
  justify-content: space-around;
  list-style: none;
  padding: 0;
}

li {
  border: 1px solid white;
  border-radius: 7px;
  padding: 0.5em;
  flex-grow: 1;
  max-width: 10rem;
  font-weight: bold;
}

li:hover {
  background-color: white;
  color: black;
}

h1 {
  margin: 3rem;
}
